/*
    Theme Name: BMA
    Author: ELLPI
    Author URI: http://ellpi.com
    Description: Thème wordpress développé pour BMA .
    Version: 0.1
    Text Domain: bma
*/

/*
Bootstrap config : http://getbootstrap.com/customize/?id=2236cc11f2b5349f32e6
*/
@import "rptools_core/css/rptools_reset.css";
@import "rptools_core/css/rptools_mixins.less";
@import "rptools_core/css/rptools_vars.less";
@import "css/fonts.css";
@import "css/owl.carousel.css";
@import "css/owl.theme.css";
*{
    .box-sizing(border-box);
}
//-------------------------
// THEME LESS |STARTS| HERE

// VARS must be redifined (@desktop, @tablet);
@xs:480px;
@tablet:768px;
@desktop:992px;
@xl:1200px;
@background:#f5f5f5;
@white:#ffffff;
@black:#000000;
@orange:#f47721;
@brown:#751716;
@gray:#6f6f6f;
@grayLight:#797a7b;
@fontGray:#4c4d4f;
@borderGray:#e4e4e4;
@fontRem:17rem;
@mobileRem:15rem;
@helveticaRegular:'HelveticaNeueETW01-55Rg';
@helveticaBold:'HelveticaNeueETW01-75Bd';
@frutigerRegular:'FrutigerLTW02-55Roman';
@frutigerLight:'FrutigerLTW01-45Light';
@frutigerBold:'Frutiger LT W02_65 Bold';
@frutigerItalic:'FrutigerLTW02-56Italic';

//Bootstrap a besoin des variables.
@import "css/bma-bootstrap.less";
html{
    font-size:15px;
    line-height: 17/@fontRem;
    @media screen and (min-width:@tablet){
        font-size: 17px;
        line-height: 22/@fontRem;
    }
}
body{
    font-family: @helveticaRegular;
    background-color:@background;
    color:@black;
}
h1,h2,h3,h4,h5, h6{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

@defaultPadding:15px;
@defaultPadding-lg:33px;


/*********************************************
            CONTAINER RULES
*********************************************/

.bma-container{
    max-width:1140px;
    padding:0 15px;
    margin: 0 auto;
    .jumpstart-debug-mode &{
        border-right:1px solid rgba(0,0,0,0.1);
        border-left:1px solid rgba(0,0,0,0.1);
    }
    &.home-container{
        @media screen and (min-width:@tablet){
           padding-top:@defaultPadding;
        }
        @media screen and (min-width:@desktop){
           padding-top:@defaultPadding-lg;
        }
    }
}
.bma-container, .bma-padded-container{
    &[data-no-padding='all']{
        padding:0;
    }
    &[data-no-padding='mobile']{
        @media screen and (max-width:@tablet){
            padding:0;
        }
    }
    &[data-no-padding='tablet']{
        @media screen and (min-width:@tablet) and (max-width:@desktop){
            padding:0;
        }
    }
    &[data-no-padding='desktop']{
        @media screen and (min-width:@desktop){
            padding:0;
        }
    }
    &[data-no-padding='mobile-tablet']{
        @media screen and (max-width:@desktop){
            padding:0;
        }
    }
    &[data-no-padding='tablet-desktop']{
        @media screen and (min-width:@tablet){
            padding:0;
        }
    }
    &[data-no-padding='mobile-desktop']{
        @media screen and (max-width:@tablet) and (min-width:@desktop){
            padding:0;
        }
    }
}
.bma-padded-container{
    .bma-container;
    padding-top:@defaultPadding;
    padding-bottom:@defaultPadding;
    padding-right:@defaultPadding;
    padding-left:@defaultPadding;
    background-color:@white;
    @media screen and (min-width:@tablet){
        padding-right:60px;
        padding-left:60px;
    }
    @media screen and (min-width:@desktop){
        padding-right:95px;
        padding-left:95px;
        padding-top:@defaultPadding-lg;
        padding-bottom:@defaultPadding-lg;
    }
}
.relative-container{
    position: relative;
}
.error-block{
    min-height: 500px;
}

/*********************************************
            SOME USEFUL BITS
*********************************************/

.bma-post-section{
    background-color:@white;
    .bma-title{
        padding:0.5em 0;
    }
    @media screen and (min-width:@desktop){
        margin-top:@defaultPadding * 2;
    }
}

.bma-grayed{
    * {
        color:@fontGray !important;
    }
}
.bma-disabled{
    display: none !important;
}
.bma-btn, .bma-html .bma-btn-wrapper a{
    display: inline-block;
    padding:0.7em 1em;
    font-size: 13px;
    line-height: 18px;
    background-color:@orange;
    color:@white;
    text-decoration: none;
    font-family: @helveticaBold;
    text-transform: uppercase;
    .transition(background-color 150ms);
    cursor:pointer;
    &:hover{
        background-color:@brown;
        color: #fff;
    }
}
.bma-html .bma-btn-wrapper a{
    margin-top:@defaultPadding;
}
.bma-more-nav{
    text-align: center;
    padding:30px 0;
    @media screen and (min-width:@desktop){
        padding:44px 0;
    }
}
.bma-title{
    font-family: @helveticaBold;
    &.with-addon{
        .bma-addon{
            font-size:0.6em;
        }
    }
    @media screen and (min-width:@tablet){
        font-size:20/@fontRem;
        &.with-addon{
            position: relative;
            padding-right:30%;
            .bma-addon{
                position: absolute;
                right:0;
                bottom:0.17em;
            }
        }
    }
    @media screen and (min-width:@desktop){
        font-size:33/@fontRem;
    }
}
a.bma-link, .bma-link{
    color:@orange;
    text-transform: uppercase;
    text-decoration: underline;
}
a.bma-fat-link, .bma-fat-link{
    color:@orange;
    text-transform: uppercase;
    font-family: @helveticaBold;
}
.add-plus{
    padding-right:25px;
    background:url(images/add-plus.png) no-repeat right center;
}
.bma-blur{
    overflow: hidden;
    img{
        -webkit-filter: blur(2px);
        width:106%;
        height:auto;
        margin-top:-3%;
        margin-left:-3%;
    }
}
.bma-hero-text{
    font-size:17px;
    @media screen and (min-width:@tablet){
        font-size: 19px;
        line-height: 33px;
    }
    @media screen and (min-width:@desktop){
        font-size: 23px;
    }
}

/*********************************************
        STYLING THAT WYSIWYGED CONTENT
*********************************************/

.bma-html{
    font-family: @frutigerRegular;
    a{
        color:@orange;
        text-decoration: underline;
        &:hover{
            color: @brown;
        }
    }
    p{
        margin:0;
    }
    p + p {
        margin-top:1em;
    }
    strong{
        font-family: @frutigerBold;
    }
    em{
        font-family: @frutigerItalic;
        font-style: normal;
    }
    h1, h2, h3, h4{
        color:@black;
    }
    h1{
        font-family: @helveticaBold;
        font-size: 44px;
    }
    h2{
        margin:1em 0 0.8em 0;
        font-family: @helveticaBold;
        font-size:24/@mobileRem;
        &:first-child{
            margin-top:0;
        }
    }
    h3{
        font-family: @helveticaBold;
    }
    ul, ol{
        li{
            margin:1em 0;
        }
    }
    blockquote{
        font-family: @helveticaBold;
        font-size:25/@mobileRem;
        margin:1em 40/@fontRem;
        color:@brown;
    }
    .bma-aligned{
        margin-top:25px;
    }
    .wp-caption-text{
        padding:2px 1em;
        font-size:15px;
        color:@fontGray;
        font-family: @frutigerItalic;
    }
    img, img[style]{
        max-width: 100%;
        height:auto !important;
    }
    @media screen and (min-width:@tablet){
        blockquote{
            font-size:25/@fontRem;
        }
        h2{
            font-size:25/@fontRem;
        }
        h3{
            font-size: 15/@fontRem;
        }
    }
    @media screen and (min-width:@desktop){
        h2{
            font-size:33/@fontRem;
        }
        h3{
            font-size: 17/@fontRem;
        }
    }
}

/*********************************************
            GENERAL LAYOUT
*********************************************/
.bma-layout-row{
    margin-top:22px;
    margin-bottom:22px;
    &.col1{
        margin:0 auto;
    }
    @media screen and (min-width:@tablet){
        margin-top:@defaultPadding * 2;
        margin-bottom:@defaultPadding * 2;
    }
    @media screen and (max-width:@tablet){
        .col-sm-6{
            padding-top:22px;
            padding-bottom: 22px;
        }
    }
}
.bma-layout-hr{
    height:0;
    border:1px solid @black;
    border-left:0;
    border-right:0;
    margin:35px 0;
    @media screen and (min-width:@tablet){
        margin:60px 0;
    }
}

/*********************************************
            LISTS
*********************************************/
.bma-list{
    list-style: none;
    padding:0;
    li{
        position: relative;
        padding-left: 0.7em;
        margin:1em 0;
        &:before{
            content:"·";
            display: block;
            width:1em;
            padding: 0;
            position: absolute;
            font-size:25px;
            left:0;
            top:-8px;
        }
    }
}
.bma-dlist{
    dt{
        font-family: @helveticaBold;
        text-transform: uppercase;
    }
    dd{
        margin:0 0 1em 0;
    }
}
.bma-group-list{
    .list-title{
        padding-bottom:3px;
        border-bottom:2px solid @black;
    }
    ul, ol{
        padding:0;margin: 0;
        list-style: none;
        margin-bottom:35px;
    }
    .list-item{
        margin:18px 0;
    }
    .list-item-title{
        font-family: @helveticaBold;
        color:@orange;
        font-size:17/@mobileRem;
        &:hover{
            color: @brown;
        }
    }
    .list-item-content{
        font-size:14/@mobileRem;
    }
    @media screen and (min-width:@tablet){
        .list-title{
            padding-bottom:5px;
        }
        .list-item-title{
            font-size:17/@fontRem;
        }
        .list-item-content{
            font-size:14/@fontRem;
        }
    }
}

.hero-tax-list{
    img, .sharp, .blur{
        display: none;
    }
    font-family: @helveticaBold;
    font-size:17/@mobileRem;
    text-transform: uppercase;
    color:@orange;
    .hero-tax-list-item{
        display: block;
        padding:1em 40px 1em 0;
        text-align: right;
        background:url(images/chevron-orange.png) no-repeat center right;
    }
    @media screen and (max-width:@tablet){
        .valign{
            display: block;
            height:auto;
            .valign-content{
                display: block;
                height:auto;
            }
        }
    }
    @media screen and (min-width:@tablet){
        .clearfix;
        img{
            display: block;
        }
        .hero-tax-list-item{
            padding: 0;
            color:@white;
            text-align: center;
            width:25%;
            display: block;
            float: left;
            position: relative;
            overflow: hidden;
            font-size: 15px;
            text-shadow: 0 0 5px #222;
            .frame{
                width:100%;
            }
            .sharp, .blur, .list-item-content{
                display: block;
                position: absolute;
                .square(100%);
                top:0;
                left:0;
                .transition(.3s);
                background-size:cover;
            }
            .sharp{
                z-index:1;
            }
            .blur{
                z-index:2;
            }
            .list-item-content{
                z-index:3;
            }
            &:hover{
                .blur{
                    .opacity(0);
                }
            }
        }
    }
    @media screen and (min-width:@desktop){
        .hero-tax-list-item{
            font-size: 17px;
        }
    }

}

/*********************************************
            HOME SPECIALS
*********************************************/

.home{
    section{
        .clearfix;
    }
    .item-content, .item-aside{
        padding:33px 15px ;
        font-family: @helveticaRegular;

    }
    .item-content{
        margin-top:15px;
        background:@white;
    }
    .item-aside{
        margin-top:0;
        background: #eaebeb;
        h1, h2, h3{
            .aside-title;
            text-transform: none;
        }
        ul, ol{
            .bma-list;
        }
    }
    .whiteblock{
            display: inline-block;
            width: 100%;
            background: @white;
        }
    @media screen and (min-width:@tablet){
        .home-main-copy{
            .bma-padded-container;
            padding: 33px 15px;
        }
        .item-content, .item-aside{
            float:left;
            padding: 0 30px;
            margin-top:33px;
        }
        .item-content{
            /*width:60%;*/


        }
        .item-aside{
            /*width:40%;*/
            padding-left: 45px;
            background: none;
        }
    }
    @media screen and (min-width:@desktop){
        .item-content{
            border-right:1px solid @borderGray;
            padding-left: 0px;
        }
        .item-aside{
            padding-right: 0px;
        }
    }
}
/*********************************************
            TEAM SPECIALS
*********************************************/
.hero-persons{
    .hero-person{
        font-size:15/@mobileRem;
        margin-bottom:50px;
        img{
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
        .hero-person-title{
            text-transform: uppercase;
            font-size: 17/@mobileRem;
            font-family: @helveticaBold;
            margin:1em 0;
        }
        .hero-person-desc{
            color:@fontGray;
        }
    }
    @media screen and (min-width:@tablet){
        .hero-person{
            text-align: right;
            img{
                max-width: auto;
                display: inline;
                }
            & + .hero-person{
                text-align: left;
            }
            .hero-person-title{
                font-size: 16/@fontRem;
            }
            .hero-person-desc{
                font-size: 15/@fontRem;
            }
        }
    }
}

/*********************************************
            PRESS SPECIALS
*********************************************/
.bma-press-list{
    @media screen and (min-width:@tablet){
        padding:30px 90px;
    }
}
.page-press{
    .item-content{
        line-height: 22px;
        h3{
            text-transform: uppercase;
            @media screen and (min-width:@tablet){
                margin-top: 20px;
            }
        }
        .col-sm-4{
            border-bottom:2px solid @background;
            padding-top: 20px;
            padding-bottom: 30px;
            &:last-child{
                border-bottom: none;
            }
            p{
                font-size: 13/@fontRem;
                font-family: @helveticaRegular;
            }
            @media screen and (min-width:@tablet){
                padding-top: 0px;
                padding-bottom: 0px;
                border: none;
                img{
                    border-bottom: 1px solid @grayLight;
                }
            }
            @media screen and (max-width:@tablet){
                img{
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
    .bma-title{
        font-size: 24px;
        margin-bottom: 20px;
        @media screen and (min-width:@tablet){
            font-size:25/@fontRem;
        }
        @media screen and (min-width:@desktop){
            font-size:33/@fontRem;
        }
    }
}
/*********************************************
            CONTACT SPECIALS
*********************************************/
.page-contact{
    .bma-html{
        .bma-address{
            margin:1em 0;
            .block-content{
                color:@fontGray;
            }
            .block-title{
                margin-bottom:1em;
            }
        }
    }
    .bma-address-content{
        text-align: right;
    }
    .bma-address{
        & + .bma-address{
            margin-top:33px;
        }
    }
    .bma-address-map{
        position: relative;
        img{
            width: 100%;
            .csscalc & {
                width:~"calc(100% + 30px)";
                margin-left:-15px;
            }
            margin-top:@defaultPadding;
        }
        .map-canvas{
            display: none;
        }
        a{
            color: @orange;
            &:hover{
                color: @brown;
            }
        }
    }
    @media screen and (min-width:@tablet) and (max-width:@desktop){
        .bma-html{
            .bma-address{
                .clearfix;
                .bma-address-content{
                    float:right;
                    width:30%;
                    padding-left:@defaultPadding;
                }
            }
        }
        .bma-address{
            .clearfix;
            & + .bma-address{
                margin-top:0px;
            }
        }
        .bma-address-map{
            float:left;
            width:70%;
            padding-right:30px;
            img{
                margin-top: 0;
            }
        }
        .bma-address-content{
            float:right;
            width:28%;
        }
    }
    @media screen and (min-width:@tablet){
        .bma-layout-row{
            padding-bottom: 66px;
            margin-bottom:66px;
            border-bottom: 1px solid #000;
        }
        .bma-address-content{
            text-align: left;
            p{
                font-size: 15px;
            }
        }
        .bma-address-map{
            img{
                .csscalc &{
                    margin-left:0;
                    width:100%;
                }
            }
            .map-canvas{
                display: block;
                position: absolute;
                top:0;
                left:0;
                height:100%;
                width:100%;
                z-index: 1;
            }
        }
        .bma-address:last-child{
            margin-top:33px;
            margin-bottom: 46px;
        }
    }
    @media screen and (min-width:@desktop){
        .bma-main > .bma-padded-container{
            padding-bottom:0;
        }
        .bma-address + .bma-address{
            margin-top:0;
        }
        .bma-address-map{
            margin-top:33px;
            .csscalc & {
                width:~"calc(100% + 95px + 15px)";
                margin-left:-95px;
            }
        }
        .bma-address + .bma-address{
            .bma-address-map{
                .csscalc &{
                    margin-left:-15px
                }

            }
        }
        .bma-address{
            &:first-child{
                .bma-address-map{
                    border-right:2px solid @white;
                }
            }
            &:last-child{
                margin-bottom: 0px;
                .bma-address-map{
                border-left: 2px solid @white;
                }
            }
        }
    }
}
.featured-tax{
    .bma-title{
        margin:1em 0;
        font-size: 25/@mobileRem;
        &.with-addon{
            .bma-addon{
                font-size:15px;
            }
        }
        @media screen and (max-width:@tablet){
            .add-plus{
                background: none;
                padding-right: 0;
            }
        }
        @media screen and (min-width:@tablet){
            font-size:33/@fontRem;
            margin:33px 0 22px 0;
        }
        @media screen and (min-width:@desktop){
            font-size:44/@fontRem;
        }
    }
    .home & {
            padding-bottom: 15px;
        @media screen and (min-width:@tablet){
            margin-bottom:60px - @defaultPadding;
            padding-bottom: 0px;
        }
        @media screen and (min-width:@desktop){
            margin-bottom:95px - @defaultPadding;
        }
    }
}

/*********************************************
            FOOTER
*********************************************/
.home, .page-blog, .category{
    .bma-footer-container{
        .bma-container;
    }
}
.bma-footer{
    background-color:@gray;
    color:@white;
    font-family: @helveticaRegular;
    font-size:15/@fontRem;
    padding: 22px 15px;
    hr{
        margin:10px 0;
        border-width: 2px;
        border-color:white;
    }
    .bma-block{
        color:white;
        margin-bottom: 22px;
        &:last-child{ margin-bottom: 0px;}
        a{
            color:white;
            &:hover{ color: @orange;}
        }
        .block-title{
            white-space: nowrap;
        }
        .block-content{
                letter-spacing: -1px;
            }
    }
    .hero-email{
        text-transform: none;
    }
    .footer-socials{
        text-align: right;
        a img{
            .square(25px);
        }
        a{ margin-left: 6px;}
        margin-bottom:2em;
    }
    @media screen and (min-width:@tablet){
        .bma-block{
            margin-bottom:0px;
        }
        .bma-address{
            text-align: right;
            font-size:12/@fontRem;
            margin-bottom:0;
        }
        padding:33px 15px;
    }
    @media screen and (min-width:@desktop){
       padding:33px 0px;
    }
}
.block-title{
    text-transform: uppercase;
    font-family: @helveticaBold;
}
.block-content{
    font-family: @frutigerRegular;
    p{
        margin: 3px 0;
    }
}
.bma-copyrights{
    font-size:12px;
    font-family: @frutigerRegular;
    color:@gray;
    padding:2em 0;
    text-align: right;
    .sep{
        margin: 0 6px;
        @media screen and (max-width:@tablet){
            display: none;
        }
    }
    .ellpi{
        color: @gray;
        font-size: 11px;
        &:hover{
            color:@orange;
        }
        @media screen and (max-width:@tablet){
            display: block;
            margin-top: 6px;
        }
    }
}

/*********************************************
                404 SPECIAL
*********************************************/
.error404{
    .item-content{
        .bma-main-menu{
            list-style: none;
            margin-top: 33px;
            padding: 33px 33px 0 33px;
            border-top:1px solid @grayLight;
            display: block;
            margin-left:auto;
            margin-right:auto;
            li{
                margin: 0px;
                font-size: 20/@fontRem;
                line-height: 33px;
                a:hover{
                    color: @brown;
                }
                ul{
                    margin: 10px 0;
                    padding-left: 10px;
                    list-style: none;
                    li:before {
                        content: "- ";
                        color: @orange;
                    }

                }
            }
        }
    }
    .backlink{
        color: @orange;
        font-size: 16px;
        margin-top: 26px;
        display: block !important;
        cursor: pointer;
        position: relative;
        &:hover{
            color:@brown;
        }
    }
    @media screen and (min-width:@tablet){
        .item-content{
            .bma-main-menu{
                border-left: 1px solid @grayLight;
                border-top:none;
                margin-top: 42px;
                padding: 0 0 0 30px;
                li{
                    font-size: 15/@fontRem;
                    line-height: 30px;
                    ul{
                        margin-top: 0px;
                    }
                }
            }
        }
    }
    @media screen and (min-width:@desktop){
        .item-content{
            .bma-main-menu{
                padding: 0 0 0 60px;
            }
        }
    }
}


/*********************************************
            SOCIAL NAV
*********************************************/
.socials{
    a{
        .square(24px);
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-color:@orange;
        vertical-align: middle;

        &.facebook{
            background-image:url(images/social-facebook.gif);
        }
        &.twitter{
            background-image:url(images/social-twitter.gif);
        }
        &.linkedin{
            background-image:url(images/social-linkedin.gif);
        }
        &.mail{
            background-image:url(images/social-mail.gif);
        }
    }
    .single-post & {
        margin:10px 0;
    }
}
/*********************************************
            MAIN MENU
*********************************************/
.bma-header{
    position: relative;
    background-color: @background;
    height:50px;
    .relative-container, .bma-container{
        position: relative;
    }
    .bma-branding{
        position: absolute;
        top:10px;
        .logo{
            display: block;
            .size(90px, 30px);
            overflow: hidden;
            img{
                width:100%;
            }
        }
        @media screen and (min-width:@tablet){
            z-index: 12;
        }
    }
    &.special{
        position: absolute;
        background-color:transparent;
        margin-top: 10px;
        .relative-container{
            overflow: hidden;
        }
        & + * {
            margin-top:0;
        }

        .bma-branding{
            top:10px;
            .logo{
                .size(90px, 50px);
                overflow: hidden;
                img{
                    width:100%;
                }
            }
            @media screen and (min-width:@tablet){
                .logo{
                    .size(auto, auto);
                    overflow: visible;
                    img{
                        width:110px;
                    }
                }
            }

            @media screen and (min-width:@desktop){
                .logo{
                    .size(auto, auto);
                    overflow: visible;
                    img{
                        width:auto;
                    }
                }
            }
        }
    }
    &.is-showing{
        .relative-container{
            overflow:visible;
            .bma-main-nav{
                top:0px;
            }
            .bma-main-nav[style], .bma-main-nav{
                display: block !important;
            }
        }
    }
    /*the fixed position rules*/
    position: fixed;
    width:100%;
    top:0;
    z-index:499; /*Just below the admin-bar*/
    & + *{
        margin-top:50px;
    }
    .admin-bar & {
        top:46px;
        & + *{
            //margin-top: 60px + 32px;
        }
        @media screen and (min-width:@tablet){
            top:32px;
        }
    }
    @media screen and (min-width:@tablet){
        padding: 0;
        top:0;
        left:0;
        .bma-main-nav{
            margin-top: 4px;
        }
        .clearfix;
        &.special{
            margin-top: 12px;
            top: 0;
            .bma-main-nav{
               margin-top: 8px;
            }
            .bma-hmbgr{
                display: block;
                width: 38px;
                height: 38px;
            }
            .relative-container{
                right:50px;
                .bma-main-nav{
                    margin-right:-100%;
                }
            }
            &.is-animating .relative-container .bma-main-nav{
                .transition(margin-right 250ms ease-in-out);
            }
        }
        &.default{
            padding-bottom:@defaultPadding;
            top: 32px;
            margin-top: -32px;
            transition: top 250ms ease-in-out;

            .bma-hmbgr{
                display: none;
            }
        }
        .relative-container{
            position: absolute;
            top:0;
            right:0;
            width:100%;
            .bma-main-nav{
                display: block;
            }
        }
        &.is-showing{
            .relative-container{
                .bma-main-nav{
                    margin-right:0;
                }
            }
        }
        &.is-animating{
            .relative-container{
                overflow: hidden;
            }
        }
    }
    @media screen and (min-width:@desktop){
        &.special{
            .bma-hmbgr{
                height: 42px;
                width: 42px;
            }
        }
    }
}

.bma-hmbgr{
    cursor: pointer;
    width:25px;
    height:25px;
    text-align: right;
    position: absolute;
    right:@defaultPadding;
    top:10px;
    z-index: 11;
    span, span:before, span:after{
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 24px;
        background: @black;
        position: absolute;
        display: block;
        content: '';
        top:7px;
        transition: all 250ms ease-in-out;
    }
    span{
        &:before{
            top: 14px;
        }
        &:after{
            bottom:0;
        }
    }
    @media screen and (min-width:@tablet){
        top:8px;
        background: @background;
        padding: 5px;
        width: 50px;
        height: 50px;
        &.active{
            top:8px;
            span, span:before, span:after{
                width: 20px;
            }
        }
        span{
            margin: 4px 4px;
        }
        span, span:before, span:after{
            width: 20px;
        }
    }
    @media screen and (min-width:@desktop){
        top:8px;
        padding: 7px;
        &.active{
            top:8px;
        }
        span{ margin-top:6px;}
    }
}
.csstransforms .bma-hmbgr{
    &.active{
        span{
            background-color: transparent;
            &:before, &:after{
                top: 3px;
            }
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
        }
    }
    @media screen and (min-width:@tablet){
        top:8px;
        &.active{
            top:8px;
            span{
                margin-top: 8px;
            }
        }
    }

    @media screen and (min-width:@desktop){
        top:8px;
        &.active{
            top:8px;
            span{
                margin-top: 10px;
            }
        }
    }
}
.bma-main-nav{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;
    background-color: @white;
    padding:@defaultPadding;
    padding-top:50px;
    .bma-main-menu{
        & > li{
            border-bottom:1px solid @black;
            &:last-child { border-bottom: 0px;}
            &:hover{
                .sub-menu{
                    display: block;
                }
            }
        }
        li{
            font-size: 20px;
            line-height: 33px;
            font-family: @helveticaBold;
            padding:12px 0;
            .sub-menu{
                display: none;
                padding-left:20px;
                padding-top: 5px;
                li{
                    font-size: 15px;
                    font-family: @helveticaRegular;
                    color:@fontGray;
                    padding: 5px 0;
                }
            }
        }
    }
    @media screen and (min-width:@tablet){
        &[style]{
            display: block !important;
        }
        .bma-hmbgr{
            display: none;
        }
        position: relative;
        display: block;
        width: auto;
        background:transparent;
        text-transform: uppercase;
        padding: 0;
        .bma-main-menu{
            text-align: right;
            & > li{
                display: inline-block;
                border-bottom: 0;
                > a{
                    display: block;
                    padding:14px @defaultPadding;
                }
            }
            li{
                padding: 0;
                font-family:@helveticaRegular;
                font-size: 13px;
                line-height: 10px;
                position: relative;
                background: @background;
                a:hover{
                    color:@orange;
                }
                .sub-menu{
                    position: absolute;
                    top:100%;
                    width:auto;
                    padding: 10px 0;
                    left:0;
                    text-align: left;
                    background:@background;
                    /* box-shadow: 0px 2px 2px rgba(0,0,0,0.3); */
                    white-space: nowrap;
                    li{
                        font-size: 13px;
                        text-transform: none;
                        padding: 0;
                        color:@black;
                        a{
                            padding:@defaultPadding 30px;
                            display: block;
                            &:hover{
                                color:@orange;
                            }
                        }

                    }
                    .special & {
                        background: @background;
                        border:0;
                        padding:0 0 10px 0;
                        box-shadow: none;
                        li{
                            a{
                                padding:15px 30px;
                            }
                        }
                    }
                }
            }
            .special & {
                float: right;
                li{ float: left;}
            }
        }
    }
    @media screen and (min-width:@desktop){
        .bma-main-menu{
            & > li{
                > a{
                    padding:16px @defaultPadding;
                }
            }
            li{
                font-size: 14px;
            }
        }
    }

}


/*////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
        MODULES
////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

/*********************************************
            SLIDER
*********************************************/
.bma-slider-container{
    position: relative;
    .slider-prev, .slider-next{
        display: none;
        .size(10%, 150px);
        z-index: 100;
        color:white;
        position: absolute;
        top:25%;
        height:50%;
        border-radius:0;
        font-size:0;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        opacity: 0.7;
    }
    .slider-prev{
        left:0;
        background-image:url(images/black-arrow-left.png);
        &:hover{
            background-image:url(images/orange-arrow-left.png);
            opacity: 1;
        }
    }
    .slider-next{
        right:0;
        background-image:url(images/black-arrow-right.png);
        &:hover{
            background-image:url(images/orange-arrow-right.png);
            opacity: 1;
        }
    }
    &:hover{
        .slider-prev, .slider-next{
            display: block;

        }
        &.first-slide{

        }

        &.last-slide{
            .slider-next{
            }
        }
    }
}
.bma-slider{
    position: relative;
    img{
        width:100%;
        max-height: 670px;
    }
    .bma-slide{
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .owl-mobile-base{
            display: block;
        }
        .owl-regular-base{
            display: none;
        }
        .transition(opacity .3s);
        .bma-slide-caption{
            position: absolute;
            bottom:0;
            padding:1.5em 15px;
            width: 100%;
            text-align: right;
            font-size: 12/@mobileRem;
            color:white;
            text-transform: uppercase;
            z-index: 200;
            strong, .sep{
                font-family: @helveticaBold;
            }
            .sep{
                margin:0 1em;
            }
            @media screen and (max-width:@tablet){
                .owl-mobile-base{
                    display: none;
                }
                .owl-regular-base{
                    display: block;
                }
                .add-plus{
                    padding-right:0;
                    background:none;
                }
            }
            @media screen and (min-width: 768px) {
                padding: 33px 15px;
                max-width: 1140px;
                left: 0;
                right: 0;
                margin: 0 auto;

            }

        }
    }
    &.loading{
        .bma-slide{
            .opacity(0);
        }
    }
    .owl-controls{
        margin-top:0;
        font-size:0;
        .owl-dot{
            display: inline-block;
            span{
                display: block;
                width:100%;
                height:5px;
                margin:0;
                border-radius:0;
                background:@fontGray;
                opacity: 1;
            }
            & + .owl-dot span{
                    border-left:2px solid @white;
                }
            &.active, &:hover{
                span{
                    background:@orange;
                }
            }
        }
    }
}

/*********************************************
            GALLERY
*********************************************/
.bma-gallery{
    .gallery-item{
        display: block;
        img{
            max-width: 100%;
        }
    }
    @media screen and (min-width:@tablet){
        .gallery-item{
            margin-bottom:25px;
        }
    }
    @media screen and (max-width:@tablet){
       .gallery-item{
            .csscalc & {
                width:~"calc(100% + 30px)";
                margin-left: -15px;
            }
            margin-bottom:@defaultPadding;
       }
    }
}


/*********************************************
            FILTERS
*********************************************/
.bma-filters{
    background-color:@white;
    text-align: center;
    text-transform: uppercase;
    padding: @defaultPadding * 2 15px;
    font-size:12/@fontRem;
    a{
        color:@brown;
        display: inline-block;
        vertical-align: middle;
        padding-bottom:0;
        border-bottom: 1px solid @brown;
        outline:0;
        &.active{
            color:@gray;
            border-color:@gray;
        }
        & + a{
            margin-left:40px;
        }
    }
    @media screen and (min-width:@tablet){
        a:hover{
            color: @orange;
            border-color:@orange;
            &.active{
                color:@gray;
                border-color:@gray;
                cursor: default;
            }
        }

    }
    @media screen and (min-width:@desktop){
        a{
            min-width: 166px;
            text-align: right;
            padding-bottom: 3px;
            & + a{
            margin-left:30px;
            }
        }
    }
}

/*********************************************
            FEATURED POST
*********************************************/
.bma-featured{
    .featured-item{
        position: relative;
        .featured-item-image{
            img{
                width:100%;
                height:auto;
            }
        }
        .featured-item-content{
            position: absolute;
            bottom:0;
            width:100%;
            padding:@defaultPadding;
            background-color:fade(@black, 50%);
        }
        .featured-item-title{
            font-family: @helveticaBold;
            font-size:15/@fontRem;
            line-height: 1.1em;
            color:white;
        }
        .item-category{
            margin-bottom:10px;
        }
        .featured-item-meta{
            a{
                text-decoration: underline;
            }
        }
    }
    @media screen and (min-width:@tablet){
        .featured-item{
            .featured-item-content{
                padding:27px 22px;
            }
            .featured-item-title{
            font-size:33/@fontRem;
            }
            .featured-item-meta{
                font-size:15/@fontRem;
                margin-top:@defaultPadding;
                font-family: @helveticaRegular;
                text-transform: uppercase;
                color:@white;
                .item-category{
                    font-size:1em;
                }
            }
        }
    }
    @media screen and (min-width:@desktop){
        .featured-item{
            .featured-item-content{
                padding:30px 30% 30px 60px;
            }
            .featured-item-title{
                font-size:40/@fontRem;
                border-bottom:2px solid @white;
                padding-bottom: @defaultPadding;
            }
            .featured-item-meta{
                font-size:17/@fontRem;
            }
        }
    }
}

/*********************************************
            RELATED POSTS
*********************************************/
.single-post{
    .bma-related-posts{
        margin-top:@defaultPadding;
        .bma-title{
            text-align: right;
        }
        .bma-loop{
            .loop-item-title{
                font-size: 13px;
                line-height: 18px;
            }
        }
        @media screen and (min-width:@tablet){
            margin-top:35px;
            &.bma-padded-container{
                padding-top:0;
            }
            .bma-loop{
                .loop-item-title{
                    font-size: 17px;
                    line-height: 22px;
                }
                .stacked-loop-item-text{
                    font-family: @frutigerRegular;
                    color: @fontGray;
                }
            }
        }
        @media screen and (min-width:@desktop){
            .bma-loop{
                .loop-item-title{
                    font-size: 19px;
                }
            }
        }
    }
}

/*********************************************
            COMMENTS
*********************************************/
.bma-comments{
    border-top:1px solid @black;
    margin-top:@defaultPadding * 2;
    padding-top:@defaultPadding * 2;
}
/*********************************************
            ITEM HEAD
*********************************************/
.item-head{
    padding-top:27px - @defaultPadding;
    position: relative;
    .backlink{
        display: none;
    }
    .item-title{
        padding-bottom:10px;
        border-bottom:2px solid @black;
    }
    .item-category{
        font-size: 10/@mobileRem;
        font-family: @helveticaBold;
        color:@orange;
        display: inline-block;
        vertical-align: bottom;
        text-transform: uppercase;
        &:hover{
            color: @brown;
        }
    }
    .item-head-bottom{
        margin-top:10px;
        margin-bottom:20px;
    }
    .person-image{
        .square(45px);
    }
    .item-date{
        color:@fontGray;
        font-variant: italic;
        margin-bottom:1em;
    }
    .page & {
        .item-title{
            border-bottom:0;
            margin-bottom:@defaultPadding;
        }
    }
    .single-realization & {
        border-bottom:2px solid @black;
        .item-title{
            border-bottom:0;
            padding-bottom:0;
        }
    }
    @media screen and (min-width:@tablet){
        padding-top:57px - @defaultPadding;
        .backlink-block{
            position: absolute;
            top: 18px;
            right:0;
            z-index: 99;
            .backlink{
                color: @orange;
                font-size: 14px;
                margin-top: 26px;
                display: inline-block;
                cursor: pointer;
                position: relative;
                &:hover{
                    color:@brown;
                }
            }
        }

        .item-title{
            padding-bottom:15px;
            position: relative;
            padding-right: 25%;
        }
        .item-category{
            font-size:14/@fontRem;
            position: absolute;
            bottom: 3px;
            right:0px;
        }
        .item-head-bottom{
            margin-top:15px;
            margin-bottom:40px;
        }
        .item-date{
            margin-bottom:0;
        }
        .item-socials{
            text-align: right;
        }
    }
    @media screen and (max-width:@tablet){
        .single-person & {
            padding-top:0;
        }
        .single-post & {
            position: relative;
            .item-category{
                position: absolute;
                bottom:8px;right:0;
            }
        }
    }
}
.item-title{
    font-family: @helveticaBold;
    font-size:27px;
    line-height: 1.05em;
    @media screen and (min-width:@tablet){
        font-size:44px;
    }
}
/*********************************************
            ITEM THUMB
*********************************************/
.single-post{
    @media screen and (min-width:@tablet){
        .item-head{
            .item-meta{
                text-transform: uppercase;
                font-size: 13px;
            }
        }
        .item-thumbnail + .bma-padded-container{
            padding-top:30px + @defaultPadding;
            padding-bottom:45px;
        }
    }
    @media screen and (min-width:@desktop){
        .item-head{
            margin-bottom:30px;
            .item-title{
                border-bottom: 0;
            }
        }
    }
}
/*********************************************
            ITEM GENERICS
*********************************************/
.item-meta{

}
.item-location{
    font-family: @helveticaRegular;
    font-size:15/@fontRem;
    text-transform: uppercase;
    color:@grayLight;
    .item-head & {
        margin:10px 0;
    }
}
.item-head-img{
    margin-bottom:@defaultPadding;
    overflow: hidden;
    min-height: 320px;
    margin-top:50px;
    @media screen and (min-width:@xs){
        img{
            display: none;
        }
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;

    }
    @media screen and (min-width:@tablet){
        margin-left:@defaultPadding;
        margin-right:@defaultPadding;
        margin-bottom:0;
        height:440px;
    }
    @media screen and (min-width:@desktop){
        margin: 0;
        height:660px;
        & + * {
            margin-top:-70px
        }
    }
}
.aside-title{
    font-family: @helveticaBold;
    font-size:20/@fontRem;
    text-transform: uppercase;
}
.item-aside{
    .aside-content{
        font-family: @helveticaRegular;
        ul, ol{
            padding: 0 0 0 15px;
            list-style-position: outside;
        }
    }
    @media screen and (min-width:@tablet){
        font-size: 15/@fontRem;
    }
}

/*********************************************
            REALIZATION ARCHIVES
*********************************************/

.post-type-archive-realization, .tax-realization-type{
    .bma-main{
        background:@white;
        .sm-no-padding{
            @media screen and (max-width:@tablet){
                padding-left:0px;
                padding-right: 0px;
            }
        }
    }
}

/*********************************************
            REALIZATION ITEMS
*********************************************/
.single-realization{
    .item-main{
        margin-top:22px;
    }
    .item-aside{
        margin-top:0;
        padding-bottom: 22px;
    }
    .item-content{
        padding-bottom:22px;
        text-align: justify;
    }
    .item-head{
        padding-top: 7px;
    }
    @media screen and (min-width:@tablet){
        .item-head{
            padding-top: 18px;
        }
        .item-main{
            margin-top:33px;
            margin-bottom:33px;
        }
        .item-main.has-aside{

            .clearfix;

            .item-aside, .item-content{
                float:left;
            }
            .item-content{
                width:60%;
                padding-bottom:0;
            }
            .item-aside{
                width:40%;
                padding:0 0 0 @defaultPadding * 2;
            }
        }
    }
    @media screen and (min-width:@desktop){
        .item-main.has-aside{
            margin-top:33px;
            .item-content{
                padding-right:70px;
                border-right:1px solid @borderGray;
            }
            .item-aside{

            }
        }
    }
}

/*********************************************
            PERSON ITEMS
*********************************************/
.person-head{
    position: relative;
    .person-image{
        margin-bottom:@defaultPadding;
    }
    hr{
        height:0;
        margin:@defaultPadding 0;
        border-top:1px solid @black;
        border-bottom:1px solid @black;
    }
    @media screen and (min-width:@tablet){
        .clearfix;
        padding-top:57px - @defaultPadding;
        padding-bottom:12px;
        .person-image{
            float:left;
            margin-right:20px;
            .square(145px);
        }
    }
    .backlink-block{
        position: absolute;
        top:138px;
        right:0;
        z-index: 99;
        @media screen and (min-width:@desktop){
            top: 43px;
        }
        .backlink{
            color: @orange;
            font-size: 14px;
            margin-top: 26px;
            display: inline-block;
            cursor: pointer;
            position: relative;
            &:hover{
                color:@brown;
            }
        }
        @media screen and (max-width:@tablet){
            display: none;
        }
    }
}
.person-contact{
    .contact-email{
        color:@orange;
    }
    .contact-email, .contact-phone, .contact-social{
        display: block;
    }
    @media screen and (min-width:@tablet) and (max-width:@desktop){
        .contact-email{
            margin-bottom:@defaultPadding;
        }
        .contact-phone, .contact-social{
            display: inline-block;
            vertical-align: middle;
        }
        .contact-phone:after{
            content:"|";
            display: inline-block;
            margin-left:@defaultPadding;
            margin-right:@defaultPadding;
        }
    }
    @media screen and (min-width:@desktop){
        .contact-email, .contact-social, .contact-phone{
            margin:10px 0;
        }
    }
}
.single-person{
    @media screen and (min-width:@desktop){
        .item-main{
            .clearfix;
            .item-content, .item-aside{
                float:left;
            }
            .item-content{
                width:60%;
            }
            .item-aside{
                padding-left:@defaultPadding;
                text-align: right;
                width:40%;
                margin-top:17px;
            }
        }
    }
}
/*********************************************
            GENERIC ITEMS
*********************************************/
.bma-item{
    .item-category{
        color:white;
        text-transform: uppercase;
        font-family: @frutigerRegular;
        font-size:12/@fontRem;
        a{
            color:@orange;
        }
    }
}
.item-content{
    color:@fontGray;
}
/*********************************************
            LOOPS
*********************************************/
.bma-loop-job{
    .loop-item-job{
        margin-bottom:22px;
    }
    .loop-item-title{
        color:@orange;
    }
    .loop-item-meta{
        color:@fontGray;
        font-size: 0.8em;
        font-style: italic;
    }
}
.bma-loop{
    a:hover{
        .loop-item-title{
            color: @orange;
        }
        .item-thumb{
            background-size: 103%;
        }
    }
    .loop-item{

        *[class*='stacked']{
            display: none;
        }
        text-align: right;
        line-height: 22px;
        .item-thumb{
            position: relative;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            .transition(background-size .3s);

            img{
                width:100%;
                height:auto;
            }
            .item-bottom-right, .item-top-left{
                position: absolute;
            }
            .item-bottom-right{
                bottom:5px;
                right:8px;
            }
            .item-top-left{
                position: absolute;
                top:5px;
                left:8px;
            }
        }
        .loop-item-content{
            height:83px;
            padding:5px @defaultPadding;
        }
        .loop-item-title{
            font-size: 17px;
            font-family: @helveticaBold;
            .transition(color .3s);

        }
        .loop-item-meta{
            text-transform: uppercase;
            font-size:13px;
            a{
                color:@orange;
                &:hover{
                    color: @brown;
                }
            }
        }
    }
    &[data-is-stacked='mobile']{
        @media screen and (max-width:@tablet){
            .loop-is-stacked;
        }
    }
    &[data-is-stacked='mobile-tablet']{
        @media screen and (max-width:@tablet){
            .loop-is-stacked;
        }
        @media screen and (min-width:@tablet) and (max-width:@desktop){
            .loop-is-stacked;
            .loop-is-stacked-tablet;
        }
    }
    &[data-is-stacked='mobile-tablet-desktop']{
        @media screen and (max-width:@tablet){
            .loop-is-stacked;
        }
        @media screen and (min-width:@tablet) and (max-width:@desktop){
            .loop-is-stacked;
            .loop-is-stacked-tablet;
        }
        @media screen and (min-width:@desktop){
            .loop-is-stacked;
            .loop-is-stacked-tablet;
            .loop-is-stacked-desktop;
        }
    }
    .page-blog & , .category & {
        margin-top:@defaultPadding;
        @media screen and (min-width:@tablet){
            margin-top:0;
            padding-top: @defaultPadding * 2;
        }
    }
}
.loop-is-stacked{
    background:@white;
    .loop-item{
        position: relative;
        text-align: left;
        min-height: 90px + @defaultPadding;
        .clearfix;
        padding-top:@defaultPadding;
        padding-left:90px + @defaultPadding;
        border-bottom:1px solid @background;

        .loop-item-title{

        }
        .loop-item-content{
            padding:0 @defaultPadding 0 0;
            height:auto;
        }
        .loop-item-meta{
            font-size:12px;
        }
    }
    .stacked-item-thumb-tablet{
        img{
            width:100%;
        }
    }
    .item-thumb[style], .item-thumb{
        .square(90px);
        margin-right:@defaultPadding;
        background-image:none !important;
        position: absolute;
        bottom:0;
        left:0;
    }
}
.loop-is-stacked-tablet{
    .bma-padded-container;
    font-size:15px;
    .bma-title{
        padding:@defaultPadding * 2 0;
    }
    .item-thumb[style], .item-thumb{
        display: none;
    }
    .loop-item{
        padding-left:0;
        border-top:1px solid @black;
        border-bottom:none;
        padding-top: @defaultPadding * 2;
        padding-bottom:@defaultPadding * 2;
        .stacked-loop-item-text{
            display: block;
            p{
                margin: 0;
                font-size: 14px;
            }
        }
        .stacked-item-thumb-tablet{
            display: block;
            float: left;
            width:50%;
        }
        .loop-item-content{
            float:left;
            width:50%;
            padding-left:@defaultPadding * 2;
        }
    }
}
.loop-is-stacked-desktop{
    .loop-item{
        .stacked-item-thumb-tablet{
            width:30%;
        }
        .loop-item-content{
            width:60%;
        }
    }
}

.loop-persons{
    .loop-person-item{
        .person-item-wrapper{
            position: relative;
            padding:@defaultPadding 0;
            border-top:1px solid @black;
            position: relative;
            &:after{
                content:"";
                .size(19px, 10px);
                position: absolute;
                top:50%;
                margin-top:-10px;
                right:0;
                background:url(images/arrow-orange.png) no-repeat;
            }
            &.showing{
                &:after{
                    .transform(rotate(180deg));
                }
            }
        }
        .person-item-name{
            font-family: @helveticaBold;
        }
        .person-item-title{
            text-transform: uppercase;
            font-size:13/@mobileRem;
            color:@fontGray;
        }
        .person-item-desc{
            padding:@defaultPadding 0;
            border-top:1px solid @black;
            font-size:14/@mobileRem;
            color:@fontGray;
        }
        .person-image{
            position: absolute;
            bottom:0;
            left:0;
            .square(90px);
            margin-right:@defaultPadding;
            max-width:100%;
        }
        .person-image-wrapper{
            .slide-up{
                display: none;
            }
        }
        @media screen and (min-width:@tablet){
            .person-item-wrapper{
                padding-left:90 + @defaultPadding;
                min-height:90 + @defaultPadding;
                padding-top:@defaultPadding * 2;
            }
            .person-item-title, .person-item-desc{
                font-size:15/@fontRem;
            }
        }
        @media screen and (min-width:@desktop){
            margin-bottom:50px;
            height: 313px;
            .person-item-wrapper{
                padding:0;
                border:0;
                &:after{
                    display: none;
                }
            }
            .person-item-name, .person-item-title{
                padding:0 @defaultPadding;
            }
            .person-item-name{
                font-size:17/@fontRem;
                margin-top:@defaultPadding;
            }
            .person-item-desc{
                font-size:14/@fontRem;
            }
            .person-image{
                position: relative;
                width:auto;
                height:auto;
                margin-right:0;
                max-width:100%;
            }
            .person-image-wrapper{
                position: relative;
                .slide-up{
                    display: block;
                    overflow: hidden;
                    position: absolute;
                    z-index: 1;
                    bottom:0;
                    left:0;
                    max-height:0;
                    width:100%;
                    height:100%;
                    background-color:@orange;
                    color:@white;
                    font-size:14/@fontRem;
                    .transition(max-height .3s);
                    p{ margin:0px;}
                }
            }
            &:hover{
                .person-image-wrapper{
                    .slide-up{
                        max-height:100%;
                    }
                }
            }
        }
    }
}

/*********************************************
            WIDGETS
*********************************************/
.bma-widget-title{
    font-family: @helveticaBold;
    font-size:17px;
    text-transform: uppercase;

}
.bma-widget{
    .widget-content{
        color:@fontGray;
    }
    &.bma-widget-author{
        font-size: 14px;
        color:@black;
        .widget-content{
            text-transform: uppercase;
            color:@black;
        }
        .widget-image{
            margin-bottom:@defaultPadding;
        }
    }
}
.bma-sidebar{
    border-top:2px solid @black;
    margin-top:@defaultPadding*2;
    padding-top:@defaultPadding*2;
}
/*********************************************
            FORMS
*********************************************/
form{
    font-family: @helveticaRegular;
    font-size: 12px;
    label + br{
        display: none;
    }
    span,
    label,
    input,
    input[type='text'],
    input[type='email'],
    input[type='phone'],
    input[type='submit'],
    input[type='tel'],
    button,
    textarea,
    select,
    .action,
    .filename,
    .selector{
        font-size: 12px;
        font-family: @helveticaRegular;
        color:@black;
    }
    label{
        display: block;
        font-size: 15px;
    }
    textarea{

    }
    input[type='text'],
    input[type='email'],
    input[type='phone'],
    input[type='submit'],
    input[type='tel'],
    button,
    textarea,
    .action,
    .filename,
    .selector{
        background:@background;
        padding:7px;
        border:0;
        display: block;
        width:100%;
    }
    //Buttons
    input[type='submit'],
    button,
    .action{
        background:@orange;
        color:@white;
        padding:7px @defaultPadding;
        display: inline-block;
        text-transform: uppercase;
        font-family: @helveticaBold;
        text-align: center;
        @media screen and (min-width:@tablet){
            max-width:150px;
        }
    }
    textarea{
        resize:none;
    }
    .selector{
        select{
            background:@background;
        }
    }
    .form-required{
        color:@brown;
        text-align: right;
        &:before{
            content:"*";
            vertical-align: top;
        }
        @media screen and (min-width:@tablet){
            float:right;
            margin-top:1em;
        }

    }
    //File Upload
    .uploader{
        position: relative;
        .clearfix;
        input[type='file']{
            position: absolute;
            top:0;left:0;
            width:100%;
            height:100%;
            z-index:1;
            .opacity(0);
        }
        .filename{
            float:left;
            width:70%;
        }
        .action{
            float:right;
            width:28%;
        }

    }
    .selector{
        display: inline-block;
        max-width: 90%;
        select{
            width:100%;
            position: absolute;
            left:0;top:0;
            width:100%;
            height:100%;
            display: block;
            border:1px solid white;
            z-index: 1;
        }
    }
    .wpcf7-form-control-wrap.liste{
        display: block;
    }
}
.bma-form-title{
    font-family: @helveticaBold;
    font-size:20px;
    text-transform: uppercase;
    color:@orange;
    margin-bottom:@defaultPadding;
    .single-job &{
        margin: @defaultPadding 0;
    }
}
.career-form{
    @media screen and (max-width:@desktop){
        max-width:344px;
        margin:0 auto 0 auto;
    }
}
.single-job, .page-career{
    .wpcf7{
        @media screen and (max-width:@desktop){
            border-top:2px solid @black;
            margin-top:62px;
            padding-top:62px;
            padding-bottom:30px;
        }
    }
}
/*********************************************
            Carrières
*********************************************/

.title-post{
    margin-top: 33px;
}

/*********************************************
            HELPERS
*********************************************/
img.responsive{
    max-width:100%;
    height:auto;
    &[style]{
        height:auto !important;
    }
}
.no-uppercase{
    text-transform: none !important;
}
/*********************************************
            JS CLASSES
*********************************************/
.js-show{
    display: none;
    &.person-item-desc[style]{
        @media screen and (min-width:@desktop){
            display: none!important;
        }
    }
}
.ajax-pending{
    .opacity(0);
    .transition(.3s);
    &.loaded{
        .opacity(1);
    }
}

.bma-column-sort{
    opacity: 0;
}
/*********************************************
            LIGHTBOX
*********************************************/
#imagelightbox-overlay{
    position: fixed;
    z-index: 9999;
    .square(100%);
    top:0;left:0;
    background:rgba(255,255,255,0.9);
}
#imagelightbox-caption{
    position: fixed;
    width:auto;
    margin:0 auto;
    text-align: left;
    z-index: 10000;
    .clearfix;
    .gallery-title{
        font-family: @helveticaBold;
        font-size:17px;
    }
    .gallery-location{
        font-family:@helveticaRegular;
        font-size:14px;
        text-transform: uppercase;
        color:@fontGray;
    }
    .caption-left{
        float:left;
        width:80%;
        padding:5px;
    }
    .caption-right{
        float:right;
        width:20%;
        text-align: right;
        padding:5px;
    }
}
.imagelightbox-arrow{
    position:fixed;
    top:50%;
    margin-top:-10px;
    .size(10px, 19px);
    border:0;
    z-index:10100;
    &:hover{
        background:green;
    }
    &.imagelightbox-arrow-left{
        left:25px;
        background:url(images/orange-arrow-left.png) no-repeat center right;
    }
    &.imagelightbox-arrow-right{
        right:25px;
        background:url(images/orange-arrow-right.png) no-repeat center right;
    }
    @media screen and (max-width:@tablet){
        bottom:17px;
        top:auto;
    }
}
#imagelightbox-close{
    display: inline-block;
    position:fixed;
    top:25px;
    right:25px;
    background:transparent;
    font-family: @helveticaRegular;
    color:@orange;
    border:0;
    z-index:10000;
    font-size:25px;
}
#imagelightbox
{
    margin-top:-10px;
    position: fixed;
    z-index: 10000;
    -ms-touch-action: none;
    touch-action: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////
        ANIMATIONS
////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

.animationHeartBeatBackground {
  -webkit-animation: heartbeatbg 1s infinite; /* Safari 4+ */
  -moz-animation:    heartbeatbg 1s infinite; /* Fx 5+ */
  animation:         heartbeatbg 1s infinite; /* IE 10+ */
}

@keyframes heartbeatbg {
    50% {
        background-color:@brown;
    }
    to {
        background-color:@orange;
    }
}
@-webkit-keyframes heartbeatbg {
    50% {
        background-color:@brown;
    }
    to {
        background-color:@orange;
    }
}
@-moz-keyframes heartbeatbg{
    50% {
        background-color:@brown;
    }
    to {
        background-color:@orange;
    }
}

// THEME LESS |ENDS| HERE
//------------------------
@import "rptools_core/css/rptools_helpers.less";