#adminmenu li#toplevel_page_artools_dashboard_page li.wp-first-item {
    display: none !important;
}

.settings_page_acf-options-jumpstart h2{
    padding:10px 0 10px 70px;
    background:url(../logo_60.png) left center no-repeat;
    background-size:auto 60px;
    font-size: 30px;
    color:#8eafad;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8em;
}
.settings_page_acf-options-jumpstart h2 small{
    font-size:0.5em;
    display: block;
    text-transform: none;
}
#acf-rptools_production{
    display: none;
    font-size:24px;
    overflow: hidden;
    border:1px solid #8eafad;
    background:#b8c7c6;
}
#acf-rptools_production p{
    font-size:16px!important;
    float:left;
    width:50%;
    margin-right:1%;
}
#acf-rptools_production > ul{
    float:left;
    width:48%;
}
#acf-rptools_production label{
    font-size:20px!important;
}