/*
Theme Name: Aristote Tools
Author: Regis Philibert/Webdesigner
Author URI:
Description: Aristote tools and functions bundle.
This theme is exclusively reserved to the usage of Weka and affiliates.
Version: 1.0
License: GNU Private
*/

.debug-alert-container{
    position:fixed;
    padding-top:100px;
    height:5000px;
    background:rgba(0,0,0,0.5);
    z-index:10000;
    width:100%;
}
/*.debug-alert-container.danger{
    background:rgba(222,65,44,0.5);
}
.debug-alert-container.notice{
    background:rgba(45,113,226,0.5);
}
.debug-alert-container.warning{

}*/
.debug-alert-container{
    .debug-alert{
        width:600px;
        max-width:90%;
        margin:0 auto;
    }
}
body > .debug-alert{
    margin:10px;
}
.debug-alert{
    font-size:14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0.7em 0;
    color: #3a87ad;
    position:relative;
    font-weight: normal;
    overflow: hidden;
    border-style:solid;
    border-width:1px;

}
.debug-alert{
    nav{
        a{
           margin:0 5px
        }
    }
    .backtrace{
        font-size: 0.8em;
        text-align: right;
        padding: 0.3em 0 0 0;
        color: rgba(0,0,0,0.5);
    }
}
.debug-alert:hover nav{
    display: block;
}
.debug-alert-content{
    padding:0 1em 1em 1em;

}
.debug-alert-content hr:last-child{
    display: none;
}
.debug-alert.expended{
    position:fixed;
    width:95%;
    height:90%;
    top:25px;
    left:2.5%;
    z-index:10000;
    overflow: scroll;
}
.debug-alert.minimized{
    border-bottom-width:0;
}
.debug-alert.minimized .expend-alert{
    display: none;
}
pre{
    margin:0;
    border-radius: 0;
}
.debug-alert{
    hr{
        margin:1em 0;
    }
    nav{
        display: none;
        color:#444;
        padding:0.3em 0;
        position:absolute;
        top:0;right:10px;
        line-height:1em;
        cursor: pointer;
        font-weight: normal;
    }
    a{
        color:inherit;
    }
}
.debug-alert-title{
    padding:0.3em 1em;
    font-weight: bold;
    border-bottom-width:1px;
    border-bottom-style:solid;
    cursor:pointer;
}

.debug-alert{
    background-color:#f5f5f5;
    border-color:#ccc;
    color:#444;
}
.debug-alert-title{
    border-color:#ccc;
}
.debug-alert.notice{
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #b0d5e1;
}
.debug-alert.notice .debug-alert-title{
    border-color:#b0d5e1;
}
.debug-alert.warning{
    color:#c09853;
    border-color:#c0a371;
    background-color: #fcf8e3;
}
.debug-alert.warning .debug-alert-title{
    border-color:#c0a371;
}

.debug-alert.danger{
    color: #b94a48;
    background-color:#f2dede;
    border-color:#c8968b;
}
.debug-alert.danger .debug-alert-title{
    border-color:#c8968b;
}
.debug-only{
    display: none;
}
.artools-debug div.debug-only{
    display: block;
}
.artools-debug span.debug-only,
.artools-debug a.debug-only,
.artools-debug label.debug-only{
    display: inline;
}